{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'Home/css/home.css' %}">
</head>
<body>
    <div id="left-panel">
        <h2>Bienvenue, {{ user.username }}!</h2>
        <h3>Vos Images</h3>
        <div id="image-gallery">
            <div class="image-container">
                {% for image in images %}
                <div class="image-item">
                    <img src="{{ image.image.url }}" alt="{{ image.description }}">
                </div>
                {% endfor %}
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data" id="upload-form">
            {% csrf_token %}
            <input type="file" name="image" id="image-input" style="display: none;" onchange="document.getElementById('upload-form').submit()">
            <button type="button" id="upload-button" onclick="document.getElementById('image-input').click();">
                📤 Upload Image
            </button>
        </form>

        <h3>Vos Suggestions</h3>
        <div id="image-gallery">
            <div class="image-container">
                {% for image in suggestions %}
                <div class="image-item">
                    <img src="{{ image.image.url }}" alt="{{ image.description }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if has_information %}
        <div id="right-panel">
            {% include 'Home/chatbot.html' %}
        </div>
    {% else %}
        <!-- Form based on InformationUserForm -->
        <form method="post">
            {% csrf_token %}
            {{ info_form.as_p }} <!-- Automatically renders the form fields as <p> elements -->
            <button type="submit">Save Information</button>
        </form>
    {% endif %}
</body>
</html>
