{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{% static 'Home/css/home.css' %}">
</head>
<body>
    <div id="left-panel">
        <h2>Bienvenue, {{ user.username }}!</h2>
        <h3>Vos Images</h3>
        <div id="image-gallery">
            <div class="image-container">
                {% for image in images %}
                <div class="image-item">
                    <img src="{{ image.image.url }}" alt="{{ image.description }}">
                    <p>{{ image.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="right-panel">
        {% include 'Home/chatbot.html' %}
    </div>
</body>
</html>
